<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Bem vindo à Ivestimobits!</h1>

  <h2>
    Aqui seu investimento é levado a sério! Faça seus investimentos em papéis da Bolsa de maneira fácil, prática e segura.
  </h2>

  <%= link_to "Cadastre-se", '#', class: "btn btn-lg btn-primary" %>
</div>
    